ExecutableFiles/
ForestedWetlands.Rproj

# History files
.Rhistory

# Session Data files
.RData
.RDataTmp

# RStudio files
.Rproj.user/

# zip and pdf files
*.pdf
*.zip

WetlandTools/test.R
WetlandTools/test2.R
DEMutilities/__pycache__/
DEMutilities/ArcGIS Pro/.vs/
