### DEM_path: full or relative path to DEM (.flt file)
DEM_path: "../TerrainWorksUtils/inst/data/elev_scottsburg.flt"

### scratch_folder: full or relative path to folder to write 
### intermediate and output files
scratch_folder: "./test"

#### 3. executable_path: Path to directory of executable files 
#### downloaded from ForestedWetlands repo
executable_path: "DEMutilities\\ExecutableFiles\\"

### output_suffix: append this string to all output raster files
output_suffix: "_15"

### length_scale: length in meters over which to calculate slope metrics
length_scale: 15

### Which slope metrics to include. Set each metric you want to calculate
### to 'true' and set the rest to 'false' or remove them. 
metrics: 

  # gradient
  grad: true
  
  # plan curvature
  plan: true
  
  # profile curvature
  prof: false
  
  # B contour is the contour length crossed by flow exiting 
  # the cell at the specified length scale, and gives a measure 
  # of topographic convergence. Used as input for topographic 
  # wetness index.
  bcon: false
  
  # deviation from mean elevation. NOTE: more options below
  dev: true 
  
  # topographic wetness index. 
  # NOTE: TWI requires input grad, plan, and bcon rasters. 
  # If they are not set to be calculated here, it will first 
  # attempt to find rasters with matching suffix. If none are found, 
  # they will be calculated. 
  twi: true
  
  # partial contributing area. NOTE: more options below
  pca: false
  
# --- options for calculating elevation deviation --- #
### Option to only use a subset of DEM cells when calculating 
### elevation deviation. Setting either of these values >1 will 
### help speed up the calculation
dev_options: 

  ### resample: Downsample the DEM and by calculate values only 
  ### at regularly spaced DEM points and interpolating. The 
  ### resample variable specifies the number of DEM cells to 
  ### downsample. A value of 1 produces no down sampling; 2 
  ### builds a new DEM using every other cell; 3 builds a new 
  ### DEM using every three cells, etc.
  resample: 1
  
  ### sampleInterval: For the down-sampled DEM, calculate 
  ### ElevDev over a subset of cells and interpolate for 
  ### intervening cells. A sample interval value of 1 calculates 
  ### ElevDev at every cell, a value of 2 calculates ElevDev 
  ### at every other cell, etc.
  sampleInterval: 1
  
# --- options for pca --- #
pca_options: 
  hours: 48
